<div class="edit-create text-center">
  <%=form_for(:task, url: tasks_path, method: :post, remote: true) do |f|%>
  <%=f.text_field :body, required: true%>
  <%=f.submit "Add", class: "btn btn-primary"%>
  <%end%>
</div>
